<div class="container">
    <div class="row">
        <div class="col">
         <h4 style="color:cornflowerblue">Qui sommes Nous </h4>
         <p>Nous sommes des élèves de Ensa Marrakech génie informatique , et nous avons créé cette application web
             suite au projet proposé fans le module Java JEE et Techno Avancées du Web </p>
         <p>Equipe du projet :</p>
         <ul>
            <li>SOULB Halima</li>
            <li>BARBACHE Oumaima</li>
            <li>MOUSTADRAF Ghizlane</li>
            <li>IRAZZI Mohamed Amine</li>
            <li>LAHLOU Abdelmalek</li>
            <li>ELFARRE Hamza</li>

             
         </ul>
         <!-- <p> à côté sur la carte vous trouverez la position de notre école ! </p> -->
        </div>
        <div class="col">
                <!-- <agm-map [latitude]='latitude' [longitude]='longitude'>
     
                    </agm-map> -->
                

        </div>
    </div>
</div>

