.container{
    padding:15px 20px 15px 20px;
  }
p{
   
}
.info{
    background-color:rgb(224, 221, 209);
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between; 
    margin-bottom: 2%;
}
.balance{
    color: green;
}
button{
    background-color: #14426e;
    float: right;
    color: white;
    font-weight: 200;
}
h1{
    text-align: center;
}

p{
    margin: 1.5%;
    font-size: 12pt;
    font-family: sans-serif;
}
@media (max-width: 783px) {
    .container{
        padding: 0;
        overflow: hidden;
    }
  }